<html>
<head>
    <title> My damn little blog </title>
    </head>
<body>
    <p> Hi There!</p>
    <p> It should be working </p>
    <br>
    <p><a href="yaeger.pythonanywhere.com">Link</a> to the actual blog</p>
    <ul> <li> First element in the list </li> <li> Second item in the list </li></ul>

    <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
</body>
</html>

